.discussion-content {
    display: flex;
    flex-direction: column;
    width: 830px;
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px -1px rgb(69, 69, 69, 0.7);
    -moz-box-shadow: 0px 0px 3px -1px rgba(69,69,69,0.7);
    box-shadow: 0px 0px 3px -1px rgba(69,69,69,0.7);
}

@media only screen and (max-width: 900px) {
    .discussion-content {
        width: 95vw;
    }
}
