.discussion-content {
    display: flex;
    flex-direction: column;
    width: 810px;
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    /*border: 1px solid rgba(69,69,69,0.2);*/
}

@media only screen and (max-width: 900px) {
    .discussion-content {
        width: 95vw;
    }
}
