.text-component{
    display: flex;
    flex-direction: column;
    margin: 5px;
    overflow-y: hidden;
}

.text-component-title{
    text-align: start;
    border: 1px solid transparent;
}

.text-component-title h2{
    margin: 0px;
    padding: 5px 10px 5px 10px;
    word-wrap: break-word;
    overflow-y: auto;
}

.text-component-content{
    display: flex;
    flex-direction: column;
    margin: 1px 0px 0px 0px;
    padding: 10px;
    text-align: start;
    overflow-y: auto;
    word-wrap: break-word;
    border: 1px solid transparent;
}

.text-editable-mode {
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(25, 133, 161);
    -webkit-box-shadow: 0px 0px 6px -1px rgb(69, 69, 69, 0.5);
    -moz-box-shadow: 0px 0px 6px -1px rgba(69,69,69,0.5);
    box-shadow: 0px 0px 6px -1px rgba(69,69,69,0.5);
}