.TextComponent{
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-bottom: 10px;
    overflow-y: hidden;
}

.TextTitle{
    text-align: start;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.TextTitle h2{
    margin: 0px;
    padding: 5px 30px 5px 30px;
}

.TextContent{
    padding: 0px 30px 0px 30px;
    text-align: start;
    overflow-y: auto;
}