.InviteContainer{
    position: relative;
    z-index: 1;
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20%;
    height: 100%;
}

.InviteTitle{
    padding: 0px 30px 20px 30px;
    color: #4c5c68;
}

.InviteTitle h2{
    margin: 0px;
}

.InviteTitle p{
    margin: 5px;
}

.InviteContent{
    width: 90%;
    font-size: 20px;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 5px;
}