.invite-component{
    position: relative;
    z-index: 1;
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.invite-component-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px 20px 30px;
    color: #4c5c68;
}

.invite-component h2{
    margin: 0px;
}

.invite-component p{
    margin: 5px;
}

.invite-component-copy{
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    background: #46494c;
    border-radius: 5px;
    padding: 8px; 
    cursor: pointer;
}

.invite-component-url-field input{
    display: flex;
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #46494c;
    font-size: 15px;
}