.SaveButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 55px;
    position: fixed;
    z-index: 3;
    right: 40px;
    bottom: 30px;
    background: rgba(46, 184, 46, 0.8);
    border-radius: 5px;
    color:white;
    transition: bottom 0.2s;
    cursor: pointer;
}

.SaveButton p{
    padding-right: 3px;
}