.event-control-panel {
    display: flex;
    flex-direction: column;
    width: 810px;
    background: white;
    margin-top: -100px;
    border-radius: 5px;
    /*border: 1px solid rgba(69,69,69,0.2);*/
}

.event-control-panel-info-row {
    display: flex;
    justify-content: flex-start;
    margin: 0px 30px;
    align-items: center;
    height: 50px;
}

.event-control-panel-info-item {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 0px 10px;
    color: rgb(70, 73, 76, 0.8);
}

.event-control-panel-info-icon {
    margin: 0px 5px;
}

.event-control-panel-info-avatar {
    background: darkgray;
    min-width: 30px;
    height: 30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    border-radius: 50%;
    margin: 0px 5px 0px 0px;
}

.event-control-panel-label{
    display: flex;
    align-items: center;
    margin: 20px 40px;
    font-size: 27px;
    color: rgba(76, 92, 104, 1);;
    font-weight: 600;
    margin-bottom: 10px;
}

.event-control-panel-info-label-icon {
    margin: 0px 5px 0px 0px;
}

.event-control-panel-content {
    margin: 0px 20px;
    padding: 20px;
    color: rgba(0,0,0,0.8);
    border-top: 1px solid rgba(69,69,69,0.2);
}

.event-control-panel-title {
    font-size: 16px;
    font-weight: 600;
    color: rgb(70, 73, 76);
    margin-bottom: 10px;
}

.event-control-panel-text {
    display: flex;
    font-size: 16px;
    flex-direction: column;
    margin: 1px 0px 0px 0px;
    word-wrap: break-word;
    border: 1px solid transparent;
}

@media only screen and (max-width: 900px) {
    .event-control-panel {
        width: 100vw;
        border-radius: 0px;
    }
}