.event-control-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.event-control-panel-title-row {
    display: flex;
    align-items: center;
    padding: 25px 0px 5px 40px;
    flex-wrap: wrap;
}

.event-control-panel-label{
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 0px;
    font-size: 27px;
    color: #0e0e0f;
    font-weight: 600;
}

.event-control-panel-host {
    color: #62646a;
    margin: 0px 40px 0px 0px;
    font-size: 15px;
}

.event-control-panel-info-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0px 30px;
    align-items: center;
    border-bottom: 1px solid #dadbdd;
    padding: 15px 0px 0px 0px;
}

.event-control-panel-info-item {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 0px 10px;
    padding: 0px 0px 10px 0px;
    color: #62646a;
}

.event-control-panel-info-item-label {
    display: flex;
    font-weight: 500;
    font-size: 13px;
    color: #19a45e;
}

.event-control-panel-info-item-content {
    display: flex;
    align-items: center;
}

.event-control-panel-info-icon {
    display: flex;
    margin: 0px 5px 0px 0px;
}

.event-control-panel-info-avatar {
    background: darkgray;
    min-width: 30px;
    height: 30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    border-radius: 50%;
    margin: 0px 5px 0px 0px;
}

.event-control-panel-info-item-invite {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    margin-bottom: 10px;
    background: transparent;
    border: 1px solid #19a45e;
    color: #62646a;
    width: 80px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
}

.event-control-panel-info-item-invite:hover {
    background: rgb(221, 221, 221, 0.2);
}

.event-control-panel-info-label-icon {
    margin: 0px 5px 0px 0px;
}

.event-control-panel-title {
    font-size: 16px;
    font-weight: 600;
    color: rgb(70, 73, 76);
    margin-bottom: 10px;
}

@media only screen and (max-width: 1024px) {
    .event-control-panel {
        border-radius: 0px;
    }
}