.event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.event-container-header {
    width: 90vw;
    max-width: 900px;
    padding-left: 40px;
    color: rgba(69,69,69,0.9);
}

.event-container-header p{
    margin: 0px 20px 0px 20px;
    font-size: 20px;
    color: #46494c;
}

.event-container-row {
    display: flex;
    align-items: center;
    height: 220px;
    width: 90%;
    max-width: 900px;
    margin-top: 0px;
    margin-bottom: 10px;
    overflow-y: auto;
}

.eventCard {
    display: flex;
    flex-direction: column-reverse;
    -webkit-box-shadow: 0px 0px 6px -1px rgb(69, 69, 69, 0.4);
    -moz-box-shadow: 0px 0px 6px -1px rgba(69,69,69,0.4);
    box-shadow: 0px 0px 6px -1px rgba(69,69,69,0.4);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    width:180px;
    height:180px;
    margin: 10px;
    max-width: 180px;
    max-height: 180px;
    min-height: 180px;
    min-width: 180px;
    border-radius: 10px;
    cursor: pointer;

}

.event-container-new-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(26, 26, 26, 0.2);
    font-size: 50px;
    font-weight: 500;
    color: rgba(26, 26, 26, 0.2);
    box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

.event-container-new-button:hover{
    border: 5px solid rgba(26, 26, 26, 0.3);
    color: rgba(26, 26, 26, 0.3);
}

.titlePanel{
    display: flex;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.titlePanel p {
    margin: 0px;
    padding: 10px;
    color: white;
}