.Main{
    text-align: center;
    bottom: 0px;
    background-image: url('../../assets/sprakaBG.jpg');
    background-attachment: fixed;
}

.MainContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}