body {
  margin: 0;
  padding: 0;
  font-family: 'raleway', sans-serif;
  background: #f7f7f8;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

#root {
  display: flex;
  flex: 1;
}

input {
  outline: none;
  font-family: 'raleway', sans-serif;
  -webkit-appearance: none;
}

textarea {
  -webkit-appearance: none;
  outline: none;
}

input[type=date] {
  font-family: sans-serif;
}

input[type=time] {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}