body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgba(196, 194, 198, 0.03);
  outline: none;
  overflow: overlay;
}

input {
  outline: none;
}

a {
  text-decoration: none;
}