.create-textarea{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px 0px;
    color: #46494c;
}
  
.create-textarea-label{
    display: flex;
    padding: 10px;
    color: #1985a1;
}

.create-textarea-textarea-wrapper {
    padding: 12px;
}

.create-textarea-area {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    border-radius: 5px;
    border: 1px solid #dddddd;;
    padding: 10px;
    outline: none;
    text-align: start;
    overflow-y: auto;
    word-wrap: break-word;
    transition: border 0.2s;
    height: 45px;
}

.create-textarea-area:focus{
    transition: border 0s;
    border: 1px solid #1985a1;
}

.create-textarea-area::placeholder{
    color: #c5c3c6
}