.create-textarea{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 12px 12px 12px 12px;
    color: #46494c;
}
  
.create-textarea-label{
    display: flex;
    padding: 10px;
    color: #1985a1;
}

.create-textarea textarea{
    border-radius: 5px;
    border: none;
    font-size: 14px;
    padding: 3px 10px 3px 10px;
    background: white;
    border: 1px solid #dddddd;
    color:rgba(0,0,0);
    outline: 0;
    resize: none;
    transition: border 0.2s;
}


.create-textarea textarea:focus{
    border: 1px solid #1985a1;
}

.create-textarea textarea::placeholder{
    color: #c5c3c6
}