.site-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.site-logo p{
    color:#19a45e;
    font-size: 18px;
}

.inviteowl-logo {
    background: url('../../assets/owl_200x200_green.png');
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-position:center center;
    background-repeat: no-repeat;
    width: 29px;
    height: 29px;
}