.footer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    background: white;
    min-height: 45px;
    max-height: 45px;
    border-top: 1px solid #dadbdd;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    width: 100%;
}

.footer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    font-size: 14px;
    color: #62646a;
    cursor: pointer;
}

.footer-item:hover {
    color: #62646a;
}

.footer-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 3px;
}

.footer-item > a {
    color: inherit;
}