.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    width: 100vw;
    min-height: 45px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 1024px;
    width: 100%;
}

.footer-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
    font-size: 14px;
    color: rgb(76, 92, 104, 0.6);
    cursor: pointer;
}

.footer-item:hover {
    color: rgb(76, 92, 104, 0.8);
}

.footer-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 3px;
}