.OptionsPanelButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: #46494c;
    font-weight: 600;
    font-size: 22px;
    border: none;
    height: 45px;
    width: 45px;
    position: fixed;
    top: 50px;
    left: 5px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 5;
}