.OptionsPanelButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 25px;
    border: none;
    background: rgb(192, 192, 192, 0);
    height: 50px;
    width: 50px;
    position: fixed;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
}