.join-questions {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.join-questions-description {
    margin: 0px 0px 5px 0px;
    color: #62646a;
    font-size: 15px;
}

.join-questions-description-title {
    color: #0e0e0f;
    font-size: 25px;
    margin: 20px 0px 5px 0px;
}

.join-questions-questions {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.join-questions-question {
    display: flex;
    flex: 1;
    align-items: flex-end;
}

.join-questions-question-input {
    flex: 1;
}

.join-questions-question-icon{
    margin: 10px 5px;
    padding: 5px;
    color: #c74C3C;
    cursor: pointer;
    font-size: 19px;
}

.join-questions-question-icon:hover{
    color: rgb(199, 76, 60, 0.8);
}

.join-questions-add-buttons{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.join-questions-add-question {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #19a45e;
    border: 1px solid #19a45e;
    font-size: 16px;
    width: 120px;
    height: 35px;
    margin: 5px 0px 20px 0px;
    transition: background 0.2s;
    cursor: pointer;
}

.join-question-add-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 5px;
    font-size: 12px;
}

.add-question-disabled {
    background: rgba(0,0,0,0.02);
    border: 1px solid rgba(0,0,0,0.07);
    color: rgb(70, 73, 76, 0.5);
    cursor: default;
    pointer-events:none;
}

@media only screen and (max-width: 450px) {
    .join-questions-status {
        margin: 10px 0px 0px 0px;
    }
}