.message-card {
    display: flex;
    flex: 1;
    padding: 10px 15px;
    margin: 2px 0px 2px 0px;
    background: transparent;
}

.message-card-avatar-section {
    display: flex;
    margin: 0px 5px 0px 0px;
}

.message-card-avatar {
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    background: darkgray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
}

.message-card-wrapper {
    display: flex;
    flex: 1;
}

.deleted {
    color: rgba(0,0,0,0.3);
    padding-left: 60px;
    height: 30px;
    align-items: center;
}

.message-card-info-section {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.message-card-header {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    height: 20px;
    align-items: center;
}

.message-card-time-author {
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
}

.message-card-time {
    display: flex;
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    color: darkgray;
    justify-content: center;
}

.message-card-author {
    display: flex;
    font-weight: 500;
    color: #1985a1;
    cursor: pointer;
}

.message-card-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgba(0,0,0,0.2)
}

.message-card-delete:hover {
    color: rgba(0,0,0,0.5)
}

.message-card-content {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    color: #46494c;
    padding: 5px 5px;
}

.message-card-interaction {
    padding: 3px;
}

.message-card-comment-button {
    color: rgba(0,0,0,0.5);
    cursor: pointer;
    font-size: 15px;
}

@media only screen and (max-width: 450px) {
    .message-card-content {
        padding: 20px 10px 20px 10px;
    }
    .message-card-time {
        font-size: 14px;
    }
}