.general-content {
    display: flex;
    flex-direction: column;
    width: 810px;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.general-title {
    display: flex;
    justify-content: flex-start;
    font-size: 21px;
    color: #46494c;
    margin: 20px 20px 10px 20px;
    font-weight: 600;
}

.general-title-icon {
    display: flex;
    color: rgba(76, 92, 104, 0.5);
    cursor: pointer;
    margin: 0px 7px;
}

.general-title-icon:hover {
    color: rgba(76, 92, 104, 1);
}

@media only screen and (max-width: 900px) {
    .general-content {
        width: 95vw;
    }
}
