.searchbar {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 0px;
    height: 140px;
}

.searchbar-container {
    background: white;
    width: 90vw;
    max-width: 820px;
    border-radius: 5px;
    border: 1px solid #dadbdd;
}

.serachbar-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 20px 0px 20px;
    max-width: 820px;
    font-size: 24px;
    color: #0e0e0f;
}

.search-input-row {
    display: flex;
    align-items: center;
    margin: 10px 20px 20px 20px;
}

.search-input {
    display: flex;
    flex: 1;
    border-radius: 5px;
    border: none;
    height: 33px;
    font-size: 17px;
    padding: 3px 10px 3px 10px;
    background: white;
    border: 1px solid #dddddd;
    color:rgba(0,0,0);
    font-family: sans-serif;
    transition: border-color 0.3s;
    align-items: center;
    margin-right: 5px;
}

.search-input input {
    font-size: 17px;
    flex: 1;
    border: none;
}

.search-serachbar-icon {
    padding: 0px 5px;
    font-size: 18px;
    color: #dddddd;
    margin-bottom: -5px;
}

.search-input:focus-within {
    border-color: #19a45e;
    transition: border-color 0s;
}
