.searchbar {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    align-items: center;
    justify-content: flex-end;
    padding: 20px 0px;
}

.searchbar-content {
    width: 90vw;
    max-width: 820px;
}

.searchbar-container {
    background: white;
    border-radius: 5px;
    border: 1px solid #dadbdd;
    padding-bottom: 10px;
}

.serachbar-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0px 20px 0px;
    max-width: 820px;
    font-size: 24px;
    color: #0e0e0f;
}

.search-input-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px 20px 0px 20px;
}

.search-input {
    display: flex;
    flex: 1;
    border-radius: 5px;
    border: none;
    height: 33px;
    font-size: 17px;
    padding: 3px 10px 3px 10px;
    background: white;
    border: 1px solid #dddddd;
    color:rgba(0,0,0);
    font-family: sans-serif;
    transition: border-color 0.3s;
    align-items: center;
    margin: 10px 5px 10px 0px;
}

.search-input input {
    font-size: 17px;
    flex: 1;
    border: none;
}

.search-input input::placeholder{
    color: #c5c3c6
}

.search-serachbar-icon {
    padding: 0px 5px;
    font-size: 18px;
    color: #dddddd;
    margin-bottom: -5px;
}

.search-input:focus-within {
    border-color: #19a45e;
    transition: border-color 0s;
}

.searchbar-filter-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddddd;
    height: 33px;
    color: #0e0e0f;
    width: 80px;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 5px 10px 0px;
}

.filter-active {
    border: 1px solid #19a45e;
}

.filter-text {
    margin-right: 5px;
}

.searchbar-filter-row {
    display: flex;
    margin: 0px 20px 10px 20px;
    flex-wrap: wrap;
}

.searchbar-tabs {
    display: flex;
    margin-bottom: 20px;
}

.searchbar-tab {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.7);
    background: #dddddd;
    cursor: pointer;
}

.searchbar-selected-tab {
    color: #19a45e;
    border-bottom: none;
    background: white;
}

.searchbar-tab-left {
    border-top-left-radius: 5px;
}

.searchbar-tab-right {
    border-top-right-radius: 5px;
}