.unsigned-user {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.unsigned-user-title {
    color: rgba(76, 92, 104, 1);
    margin: 20px 0px 20px 0px;
    font-weight: 500;
    font-size: 18px;
}

.unsigned-user-info {
    color: rgb(76, 92, 104, 0.8);
    font-size: 15px;
    margin-bottom: 10px;
}

.unsigned-user-info span{
    color: orange;
    margin-right: 5px;
}

.inviteowl-login {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: #19a45e;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.unsigned-user-alias-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background: rgb(76, 92, 104, 1);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.unsigned-user-alias-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 5px;
}

.unsigned-user-alias-button:hover {
    background: #404e59;
}

.inviteowl-login:hover {
    background: #179b59;
}