.component-modal-background {
    position: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(0,0,0,0.3);
}

.component-modal-header {
    font-size: 22px;
    color: #46494c;
    padding-bottom: 20px;
    font-weight: 600;
}

.component-modal-container {
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    width: 345px;
    padding: 20px;
}

.component-modal-button-row{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.component-modal-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 95px;
    height: 95px;
    margin: 9px;
    font-size: 18px;
    color: #1985a1;
    cursor: pointer;
    border: 1px solid rgba(69,69,69,0.2);
    border-radius: 5px;
}

.component-modal-button label {
    padding: 5px;
    cursor: pointer;
}

.component-modal-button:hover {
    background: rgba(0,0,0,0.01);
}

.component-modal-exit-icon:hover {
    color: rgb(70, 73, 76, 0.9);
}

@media only screen and (max-width: 450px) {
    .component-modal-container {
        width: 230px;
    }
}