.profile-tabs-row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    background: white;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.profile-tabs-container {
    display: flex;
    justify-content: flex-end;
    max-width: 500px;
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.profile-tabs-tab {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 0px 10px 0px;
    width: 120px;
    cursor: pointer;
    color: rgba(76, 92, 104, 0.7);
    font-weight: 500;
    border-bottom: 1px solid transparent;
    transition: background 0.2s;
}

.profile-tabs-tab:hover {
    background: rgba(197, 195, 198, 0.2);
}

.profile-tabs-active {
    color: rgba(76, 92, 104, 1);
    border-bottom: 2px solid rgba(76, 92, 104, 1);
    background: transparent;
}

@media only screen and (max-width: 1024px) {
    .profile-tabs-row {
        border-radius: 0px;
    }
}