.profile-tabs-row {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    background: #f7f7f8;
    padding-top: 5px;
}

.profile-tabs-container {
    display: flex;
    justify-content: flex-end;
    max-width: 500px;
    width: 100%;
}

.profile-tabs-tab {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 0px 10px 0px;
    width: 120px;
    cursor: pointer;
    color: #95979d;
    font-weight: 600;
    font-size: 12px;
    border-bottom: 1px solid transparent;
    transition: background 0.2s;
}

.profile-tabs-tab:hover {
    background: rgba(197, 195, 198, 0.2);
}

.profile-tabs-active {
    color: #62646a;
    border-bottom: 2px solid #19a45e;
    background: transparent;
}

@media only screen and (max-width: 1024px) {
    .profile-tabs-row {
        border-radius: 0px;
    }
}