.answer-section {
    padding: 10px;
    overflow: auto;
}

.answer {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    margin: 05px 0px;   
}

.answer-content {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.answer-content input {
    border: none;
    border: 1px solid #19a45e;
    border-radius: 5px;
    padding: 10px 8px;
    width: 100%;
    font-size: 15px;
}

.answer-edit-controls {
    display: flex;
}

.answer-edit-check {
    color:#19a45e;
    cursor: pointer;
    margin: 0px 5px;
}

.answer-edit {
    padding: 0px 10px;
    cursor: pointer;
    color: rgba(76, 92, 104, 0.9);
}

.answer-edit:hover{
    color: rgba(76, 92, 104, 1);
}

.answers-user-info {
    display: flex;
    font-size: 16px;
    color: #62646a;
}

.answers-user-avatar {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #dddddd;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
}

.answers-user-name {
    font-weight: 500;
    padding: 0px 10px;
}

.answers-user-content {
    font-size: 15px;
    color: black;
    padding-left: 50px;
    margin-top: -18px;
}

.empty-answers{
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    color: rgba(0,0,0,0.5);
    border: none;
}