.answer-section {
    padding: 10px;
    overflow: auto;
}

.answer {
    padding: 10px;
    border-radius: 5px;
    margin: 05px 0px;   
}

.answers-user-info {
    display: flex;
    font-size: 14px;
    color: #62646a;
}

.answers-user-avatar {
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #dddddd;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
}

.answers-user-name {
    font-weight: 600;
    padding: 0px 10px;
}

.answers-user-content {
    font-size: 14px;
    color: black;
    padding-left: 40px;
    margin-top: -10px;
}

.empty-answers{
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    color: rgba(0,0,0,0.5);
    border: none;
}