.refresh-key {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: #46494c;
    width: 80px;
    height: 25px;
    margin: 10px 0px 0px 12px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.refresh-key-content{
    display: flex;
}

.refresh-key-content p {
    padding: 0px;
    margin: 0px;
    padding-right: 5px;
}