.refresh-key {
    display: flex;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: rgba(0,0,0,0.05);
    border: 1px solid rgba(0,0,0,0.07);
    font-size: 14px;
    padding: 8px 10px 8px 10px;
    margin: 10px 0px 0px 12px;
    border-radius: 5px;
    cursor: pointer;
    color: #46494c;
}

.refresh-key-content{
    display: flex;
}

.refresh-key-content p {
    padding: 0px;
    margin: 0px;
}