.Navbar{
    display: flex;
    position: fixed;
    z-index: 5;
    width: 100vw;
    max-width: 1024px;
    align-items: center;
    justify-content: space-around;
    height: 40px;
    background: transparent;
}

.NavBarItem{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 450px) {
    .Navbar {
        position: absolute;
    }
}