.invite-owl-privacy-policy h1 {
    color: #0e0e0f;
}

.invite-owl-privacy-policy h2 {
    color: #19a45e;
}

.invite-owl-privacy-policy p {
    color: #62646a;
}

.invite-owl-privacy-policy li {
    color: #62646a;
}