.invite-owl-privacy-policy h1 {
    color: #4c5c68;
}

.invite-owl-privacy-policy h2 {
    color: #1985a1;
}

.invite-owl-privacy-policy p {
    color: #46494c;
}

.invite-owl-privacy-policy li {
    color: #46494c;
}