.information-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #c5c3c6;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #4c5c68;
    background: transparent;
}

.information-page-icon {
  color: #404e59;
  font-size: 35px;
}

.information-page-title {
  font-size: 38px;
  color: #404e59;
  padding: 10px 10px;
  text-align: center;
  font-weight: 600;
}

.information-page-paragraph {
  color: rgb(76, 92, 104, 0.8);
  font-size: 18px;
  padding: 0px 40px;
  text-align: center;
}

@media only screen and (max-width: 610px) {
  .information-page {
    height: 300px;
  }

  .information-page-icon {
    font-size: 30px;
  }

  .information-page-title {
    font-size: 25px;
  }
}