.OptionsContainer{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 4;
    width: 300px;
    top: 0px;
    left: 0px;
    background-image: url('../../../../assets/sprakaBG.jpg');
    overflow: hidden;
    transition: left 0.4s;
    font-family: 'Roboto', sans-serif;
    border-right: 1px solid white;
}

.OptionsContainer:after{
  content: '';
  background: inherit; 
  position: absolute;
  right: -20px;
  bottom: -20px;
  box-shadow: inset 0 0 0 600px rgba(255,255,255,0.01);
  filter: blur(10px);
  width: 400px;
  height: calc(100% + 50px);
}

.OptionsCanvas{
  z-index: 5;
  height: 100%;
  overflow: auto;
}

.OptionsHeader{
  z-index: 5;
    display: flex;
    height: 50px;
    background: black;
    align-items: center;
    color: white;
    justify-content: center;
    padding-right: 0px;
}

.OptionsHeader button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: none;
    background: transparent;
    height: 50px;
    width: 50px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.OptionsHeader p{
    width: 100%;
    color: white;
    margin-right: -50px;
}

.OptionsContent{
    padding-top: 10px;
    padding-right: 0px;
}

.DeleteEventButton{
  border: 1px solid #fc5a03;
  color: #fc5a03;
  margin: 15px 15px 0px 15px;
  padding: 10px;
  cursor: pointer;
}

.DeleteEventButton:hover{
  background: rgba(255,255,255, 0.1)
}  
.inputBlock{
    display: flex;
    flex-direction: column;
    padding: 12px;
    padding-bottom: 1px;
    color: white;
}

.inputLabel{
    display: flex;
    padding: 10px;
    color: #B2BFCB;
}

.inputBlock input{
    border-radius: 30px;
    border: none;
    height: 18px;
    padding: 3px 10px 3px 10px;
    background: rgba(255,255,255, 0.08);
    color:white;
}

#readOnly {
  color: rgba(255,255,255,0.6)
}

.infoBlock{
  display: flex;
  justify-content: space-between;
  padding: 8px 12px 5px 20px;
  padding-bottom: 1px;
  color: white;
}

.infoBlock input{
  border-radius: 30px;
  border: none;
  height: 18px;
  width: 150px;
  padding: 3px 10px 3px 10px;
  background: rgba(255,255,255, 0.08);
  color:white;
}

.infoBlock label{
  color: #B2BFCB;
}

.sectionDevider{
  border-bottom: 1px solid #373B3F;
  margin: 40px 8px 20px 8px;
  padding: 0px 12px 0px 12px;
}

.sectionDevider label{
  display: block;
  margin-bottom: 1px;
  color: white;
  width: 90px;
  background: transparent;
}