.options-panel-container{
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    z-index: 4;
    width: 300px;
    top: 0px;
    left: 0px;
    background: white;
    overflow: hidden;
    transition: left 0.4s;
    font-family: 'Roboto', sans-serif;
    border-right: 1px solid white;
}

.options-panel-canvas{
  z-index: 5;
  height: 100%;
  overflow: auto;
}

.options-panel-header{
  z-index: 5;
    display: flex;
    height: 50px;
    background: #46494c;
    align-items: center;
    color: white;
    justify-content: center;
    padding-right: 0px;
}

.options-panel-header button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: none;
    background: transparent;
    height: 50px;
    width: 50px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.options-panel-header p{
    width: 100%;
    color: white;
    margin-right: -50px;
}

.options-panel-content{
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 0px;
}

.DeleteEventButton{
  border: 1px solid #fc5a03;
  color: #fc5a03;
  margin: 15px 15px 0px 15px;
  padding: 10px;
  cursor: pointer;
}

.DeleteEventButton:hover{
  background: rgba(0,0,0,0.05);
}  

.inputBlock{
  display: flex;
  flex-direction: column;
  padding: 12px;
  padding-bottom: 1px;
  color: #46494c;
}

.dateBlock{
  display: flex;
}

.inputLabel{
  display: flex;
  padding: 10px;
  color: #1985a1;
}

.inputBlock input[type=date]{
  width: 94px;
}

.inputBlock input[type=date]::-webkit-clear-button {
  display: none;
}

.inputBlock input{
    border-radius: 30px;
    border: none;
    height: 18px;
    padding: 3px 10px 3px 10px;
    background: white;
    border: 1px solid #dddddd;
    color:rgba(0,0,0);
}

#readOnly {
  color: rgba(0,0,0);
  border: 1px solid #1985a1;
}

.options-panel-info-block{
  display: flex;
  align-items: center;
  padding: 7px 12px 7px 20px;
  padding-bottom: 1px;
  color: #46494c;
}

.options-panel-info-block input{
  border-radius: 30px;
  height: 18px;
  width: 150px;
  padding: 3px 12px 3px 10px;
  background: white;
  border: 1px solid #dddddd;
  color:#46494c;
}

.options-panel-add-field-row{
  display: flex;
  padding: 0px 10px 5px 20px;
}

.options-panel-add-field-button{
  display: flex;
  justify-content: center;
  align-content: center;
  color: #1985a1;
  cursor: pointer;
  border: 1px solid #1985a1;
  border-radius: 30px;
  padding: 3px;
  margin-left: 32px;
}

.options-panel-info-icon{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  width: 20px;
  height: 20px;
  margin: 0px 10px 0px 0px;
  padding: 0px;
  border-radius: 30px;
  color: #46494c;
  cursor: pointer;
}

.options-panel-icon-menu{
  display: flex;
  flex-wrap: wrap;
  margin-top: -145px;
  margin-right: -132px;
  margin-bottom: 30px;
  padding: 5px;
  width: 120px;
  background: rgba(0,0,0,0.9);
  border: 1px solid white;
  border-radius: 10px;
}
.options-panel-icon-menu-item{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.options-panel-icon-menu-item:hover{
  background: rgba(255,255,255,0.1);
}

.options-panel-info-delete{
  padding: 0px 5px 0px 17px;
  color: #c5c3c6;
  cursor: pointer;
}

.options-panel-info-delete:hover {
  color: #b4b2b4;
}

.options-panel-add-field-button:hover{
  background: rgba(0,0,0,0.05);
}

.options-panel-add-field-button p{
  padding: 0px 5px 0px 5px;
  margin: 0px;
  font-size: 14px;
}

.options-panel-section-devider{
  border-bottom: 1px solid #c5c3c6;
  margin: 30px 8px 10px 8px;
  padding: 0px 12px 0px 12px;
}

.options-panel-section-devider label{
  display: block;
  margin-bottom: 1px;
  color: #4c5c68;
  width: 90px;
  background: transparent;
}