.sign-input-label-row{
    display: flex;
    padding: 3px 0px;
    justify-content: space-between;
    color: #19a45e;
}

.sign-input-second-label{
    color: #19a45e;
    font-size: 14px;
    cursor: pointer;
}

.sign-input{
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 16px;
    padding: 6px 0px 6px 0px;
}

.sign-input-input-container {
    display: flex;
    align-items: center;
    border: none;
    height: 38px;
    border: 1px solid #dadbdd;
    border-radius: 5px;
    background: transparent;
    color: #46494c;
    font-size: 16px;
    transition: border 0.2s;
}

.sign-input-icon {
    display: flex;
    margin: 0px 5px;
    color: #95979d;
}

.sign-input input{
    flex: 1;
    border: none;
    padding: 8px 5px;
    background: transparent;
    color: #46494c;
    font-size: 16px;
}

.sign-input-input-container:focus-within{
    transition: border 0s;
    border: 1px solid #19a45e;
}

.sign-input input:focus + .sign-input-icon {
    color: #1985a1;
}