.message-card {
    display: flex;
    border: 1px solid #c5c3c6;
    border-radius: 6px;
    padding: 15px;
    margin: 5px;
    background: white;
}

.message-card-avatar-section {
    display: flex;
    margin: 0px 15px 0px 5px;
}

.message-card-avatar {
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    background: darkgray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
}

.message-card-wrapper {
    display: flex;
    flex: 1;
}

#deleted {
    color: rgba(0,0,0,0.3);
    padding-left: 10px;
    height: 30px;
    align-items: center;
}

.message-card-info-section {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.message-card-header {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    height: 20px;
    align-items: center;
}

.message-card-time-author {
    display: flex;
}

.message-card-time {
    display: flex;
    padding: 0px 10px 0px 10px;
    font-size: 15px;
    color: darkgray;
    justify-content: center;
}

.message-card-author {
    display: flex;
    font-weight: 500;
    color: #1985a1;
    cursor: pointer;
}

.message-card-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgba(0,0,0,0.2)
}

.message-card-delete:hover {
    color: rgba(0,0,0,0.5)
}

.message-card-content {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    color: #46494c;
    padding-left: 10px;
}