.message-card {
    border: 1px solid #c5c3c6;
    border-radius: 6px;
    padding: 20px;
    margin: 5px;
    background: white;
}

.message-card-header {
    display: flex;
    padding: 3px;
}

.message-card-time {
    display: flex;
    width: 60px;
    justify-content: center;
}

.message-card-author {
    display: flex;
    font-weight: 600;
    color: #4c5c68;
}

.message-card-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.message-card-content {
    display: flex;
    color: #46494c;
    margin-left: 60px;
}