.message-card {
    border: 1px solid darkgray;
    padding: 10px;
    margin: 5px;
}

.message-card-header {
    display: flex;
    padding: 3px;
}

.message-card-time {
    display: flex;
}

.message-card-author {
    display: flex;
    font-weight: 600;
}

.message-card-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.message-card-content {
    display: flex;
}