
.form-component-answers {
    display: flex;
    flex-direction: column;
    
}

.form-component-back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid #4c5c68;
    color: #4c5c68;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 3px;
}