.form-component-answers {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-component-back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid #4c5c68;
    color: #4c5c68;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 3px;
}

.form-component-answers-content{
    flex: 1;
    overflow-y: auto;
    max-height: 290px;
    margin-top: 25px;
}

.form-component-answers-question{
    font-size: 18px;
    color: #4c5c68;
    margin: 20px 10px;
}

.form-component-answers-user-row {
    padding: 5px 10px;
}

.form-component-answers-user-info {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #4c5c68;
}

.form-component-answers-user-avatar {
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    background: darkgray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
}

.form-component-answers-user-name {
    font-weight: 600;
    padding: 0px 5px;
}

.form-component-answers-user-content {
    font-size: 14px;
    color: #4c5c68;
    padding-left: 35px;
}

.form-component-back-button-row {
    display: flex;
    justify-content: center;
}