.picture-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.picture-url-row {
    display: flex;
    padding: 5px;
}

.picture-url-row input{
    height: 25px;
    padding: 5px;
    width: 100%;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid rgb(25, 133, 161);
}

.picture-size-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 36px;
    margin-left: 5px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    background: rgba(0,0,0,0.8);
    border-radius: 5px;
    border: 1px solid rgb(25, 133, 161);
}

.picture-size-button:hover {
    color: rgba(255,255,255,0.7)
}

@media only screen and (max-width: 400px) {
    .picture-container {
        height: 400px;
    }
}