.Container{
    position: relative;
    z-index: 1;
    padding: 10px;
}

.Title{
    text-align: start;
    padding: 0px 30px 0px 30px;
}

.TextContent{
    padding: 0px 30px 0px 30px;
    text-align: start;
}