.content-book {
    display: flex;
    flex-direction: row-reverse;
    background: transparent;
    border-radius: 5px;
    width: 95vw;
    max-width: 1024px;
}

.content-book-page {
    display: flex;
    flex: 1;
}

.content-book-form-wrapper {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 35px;
    margin: 35px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    background: rgb(255, 255, 255, 1);
    border-radius: 5px;
}

.content-book-devider {
    width: 1px;
    background: transparent;
}

@media only screen and (max-width: 610px) {
    .content-book {
        flex-direction: column-reverse;
        width: 100vw;
    }
}

@media only screen and (max-width: 450px) {
    .content-book {
        flex-direction: column-reverse;
    }
    .content-book-form-wrapper {
        margin: 10px;
    }
}