.form-options {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.form-options-header {
    font-size: 22px;
    color: #46494c;
    padding-bottom: 20px;
    font-weight: 600;
}

.form-options-label {
    display: flex;
    padding: 10px;
    color: #1985a1;
}


.form-options-container {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 10px 0px;
    height: 100%;
}

.form-options-option-list {
    padding: 12px;
}

.form-options-option {
    display: flex;
    padding: 5px 12px;
}

.form-delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 15px;
    height: 15px;
    color: #c74C3C;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
}

.form-options-option input{
    border-radius: 5px;
    border: none;
    height: 25px;
    font-size: 14px;
    padding: 3px 10px 3px 10px;
    background: white;
    border: 1px solid #dddddd;
    color:rgba(0,0,0);
}

.form-options-button-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 0px 0px 0px;
}

.form-options-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 80px;
    height: 20px;
    border-radius: 5px;
    color: #c74C3C;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
    outline: none;
    transition: background 0.2s;
}

.form-options-apply-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 62px;
    height: 12px;
    border: 1px solid #4c5c68;
    border-radius: 5px;
    background: #4c5c68;
    color: white;
    margin: 10px;
    cursor: pointer;
    transition: background 0.2s;
}

.form-options-apply-button:hover{
    background: #404e59;
}

.form-options-close-button:hover {
    background: rgb(221, 221, 221, 0.2);
}

@media only screen and (max-width: 450px) {
    .form-options {
        width: 95vw;
    }
}