.main-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin: 95px 0px 45px 0px;
    width: 100%;
    background: #f7f7f8;
}

.navigation-content {
    display: flex;
    justify-content: center;
    width: 95vw;
    max-width: 1200px;
}

.navigation-picture-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #c5c3c6;
    background: transparent;
}

.navigation-text-column {
    flex: 1;
    display: flex;
    max-width: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #c5c3c6;
    background: transparent;
}

.navigation-icon-row {
    display: flex;
    align-items: flex-end;
  }
  
.navigation-icon {
    display: flex;
    color: #62646a;
    padding: 10px 5px;
    font-size: 32px;
}
  
.navigation-title {
    font-size: 35px;
    color: #0e0e0f;
    padding: 0px 0px 15px 0px;
    text-align: center;
    font-weight: 600;
}
  
.navigation-paragraph {
    color: #62646a;
    font-size: 18px;
    text-align: center;
}
  
.navigation-buttons {
  display: flex;
}

.navigation-button {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: white;
    background: #19a45e;
    margin: 20px 0px 0px 0px;
    border-radius: 5px;
    width: 130px;
    cursor: pointer;
}

.navigation-button-search {
    background: transparent;
    border: 1px solid #62646a;
    color: #62646a;
    margin-left: 10px;
}

.navigation-example {
  width: 550px;
  height: 450px;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}
  
@media only screen and (max-width: 900px) {
  .navigation-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navigation-picture-column {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 610px) {  
  .navigation-icon {
    padding: 5px 5px;
    font-size: 25px;
  }

  .navigation-example {
    width: 290px;
    height: 260px;
  }
  
  .navigation-title {
    font-size: 25px;
  }
}