.status-bar{
    background: rgba(255,255,255,1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    height: 40px;
    width: 100px;
    cursor: pointer;
    position: absolute;
    margin-left: 20px;
    top: -50px;
}

.status-bar-content{
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
}

.status-bar-menu{
    margin-top: -127px;
    margin-bottom: 12px;
    background: white;
    border-radius: 5px;
}

.status-bar-menu-icon{
    margin-bottom: -8px;
    margin-right: -10px;
    color: rgba(0,0,0,0.3);
}

.status-bar-menu-item{
    text-align: center;
    color: black;
    padding: 10px;
}

.status-bar-menu-item:hover{
    background: rgba(0,0,0,0.05);
}
