.Header-container {
    height: 150px;
    padding: 20px;
    text-align: center;
    background: white;
    color: gray;
}
.Header-container i{
    font-size: 16px;
    color: white;
}

#saveButton{
    background: rgb(0, 230, 77, 10%);
    border: 1px solid rgb(0, 230, 77, 100%);
    border-radius: 30px;
    margin-left: 20px;
    height: 30px;
    width: 43px;
}

#saveButton:hover{
    background: rgb(0, 230, 77, 20%);
}

#saveButton:active{
    background: rgb(0, 230, 77, 50%);
}

.editRow{
    display:flex;
    justify-content: flex-end;
}

.editor{
    background: rgb(26, 26, 26, 70%);
    height: 43px;
    border-radius: 30px;
    display:flex;
    padding: 0px 10px 2px 10px;
    align-items: flex-end;
}
.editor #urlInput{
    border: none;
    background: rgb(26, 26, 26, 90%);
    border-radius: 30px;
    height: 25px;
    padding-left: 10px;
    color: white;
    padding:0px 10px 0px 10px;
}

.editor #colorInput{
    border: none;
    background: rgb(26, 26, 26, 90%);
    border-radius: 30px;
    height: 25px;
    padding-left: 10px;
    color: white;
    padding:0px 10px 0px 10px;
    width: 60px;
}

.inputBlock{
    display: flex;
    flex-direction: column;
    color: white;
    margin-right: 2px;
}