.OptionsContainer{
    position: fixed;
    height: 100%;
    z-index: 2;
    width: 300px;
    top: 0px;
    left: 0px;
    background: #595F65;
    transition: left 0.5s;
}

.OptionsHeader{
    display: flex;
    height: 50px;
    background: #373B3F;
    align-items: center;
    color: white;
    justify-content: center;
    padding-right: 0px;
}

.OptionsHeader button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    font-size: 20px;
    border: none;
    background: rgb(192, 192, 192, 0.5);
    height: 50px;
    width: 50px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    /*border: 1px solid #2f3337;*/
    margin-right: -50px;
}

.OptionsHeader p{
    width: 100%;
    color: white;
}

.OptionsContent{
    padding-top: 10px;
    padding-right: 35px;
}

.inputBlock{
    display: flex;
    flex-direction: column;
    padding: 12px;
    padding-bottom: 1px;
    color: white;
}

.inputLabel{
    display: flex;
    padding: 10px;
    color: #B2BFCB;
}

.inputBlock input{
    border-radius: 30px;
    border: none;
    height: 18px;
    padding: 3px 10px 3px 10px;
    background: #7A838C;
    color:white;
}

.toggleLabel{
    display: flex;
    align-items: center;
    padding: 10px;
    color: #B2BFCB;
}

.toggleBlock{
    display: flex;
    padding: 12px;
    padding-bottom: 1px;
    color: white;
}

.switch {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    width: 40px;
    height: 24px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #373B3F;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }