.createButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    background: #1985a1;
    border-radius: 5px;
    color: #FBFFFE;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}

.createButton:hover{
    background: #156e84;
}