.vote-users-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
}

.vote-users-option {
    font-size: 20px;
    color: #46494c;
    padding-bottom: 20px;
}

.vote-users-user-list {
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 10px 0px;
    max-height: 500px;
    height: 100%;
}

.vote-users-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}

.vote-users-user-name {
    padding: 0px 5px;
}

.vote-users-user-avatar{
    min-width: 30px;
    height: 30px;
    border-radius: 50%;
    background: darkgray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
}

.vote-users-close-button-row {
    display: flex;
    justify-content: center;
    padding: 20px 0px 0px 0px;
}

.vote-users-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 80px;
    height: 20px;
    border: 1px solid #4c5c68;
    border-radius: 5px;
    background: #4c5c68;
    color: white;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
    outline: none;
    transition: background 0.2s;
}

@media only screen and (max-width: 450px) {
    .vote-users-container {
        width: 95vw;
    }
}