.event-guests-list{
    display: flex;
    flex-direction: column;
    background: transparent;
    color: rgba(0,0,0);
    font-size: 15px;
    overflow: auto;
}

.event-guests-guest-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    min-height: min-content;
}

.event-guests-guest-avatar {
    background: darkgray;
    min-width: 50px;
    height: 50px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    border-radius: 50%;
}

.event-guests-guest-wrapper{
    color: black;
    display: flex;
    align-items: center;
    color: #46494c;
}

.ghost-user {
    display: flex;
    margin: 0px 10px;
    font-size: 16px;
    color: #46494c;
}

.event-guests-guest-name{
    display: flex;
    margin: 0px 10px;
    font-size: 16px;
    color: #19a45e;
    cursor: pointer;
}

.event-guests-right-column{
    display: flex;
}

.event-guests-guest-remove{
    cursor: pointer;
    color: rgb(70, 73, 76, 0.5);
    padding: 3px;
}

.event-guests-guest-remove-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.event-guests-guest-remove-label {
    display: flex;
    justify-content: center;
    align-items: center;
}

.event-guests-guest-remove-disabled{
    width: 15px;
    color: rgba(0,0,0,0.2); 
}

.event-guests-guest-remove:hover{
    color: rgb(70, 73, 76, 0.9);
}

.show-more-guests-button {
    border-top: 1px solid #dadbdd;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 22px 12px 22px;
    color: rgb(70, 73, 76, 0.8);
    cursor: pointer;
}