.GuestComponent{
    position: relative;
    padding: 0px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 100%;
    overflow-y: hidden;
    -webkit-box-shadow: 0px 0px 4px -1px rgb(69, 69, 69, 0.5);
    -moz-box-shadow: 0px 0px 4px -1px rgba(69,69,69,0.5);
    box-shadow: 0px 0px 4px -1px rgba(69,69,69,0.5);
}

.ComponentStatusButtons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background: white;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.ComponentStatusButton{
    color: rgba(0,0,0,0.8);
    font-size: 17px;
    padding: 10px 5px 10px 5px;
}

#TabActive{
    color: rgba(46, 184, 46, 1);
    border-bottom: 1px solid rgba(46, 184, 46, 1);
}

.ComponentStatusButton:hover{
    color: rgba(0,0,0,1);
    cursor: pointer;
}

.ComponentGuestList{
    display: flex;
    flex-direction: column;
    background: white;
    padding: 10px 30px 10px 30px;
    color: black;
    font-size: 15px;
    overflow-y: auto;
    height: 100%;
}

.ComponentGuest{
    display: flex;
    align-items: center;
    padding: 12px 22px 12px 22px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.ComponentGuestIcon {
    background: darkgray;
    min-width: 30px;
    height: 30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    border-radius: 50%;
}

.ComponentGuest a{
    color: black;
    display: flex;
    align-items: center;
}

.ComponentGuestName{
    padding-left: 10px;
    width: 80%;
    text-align: left;
}

.ComponentGuestDelete{
    cursor: pointer;
    color: rgba(255,255,255,0.5);
}

.ComponentGuestDelete:hover{
    color: rgba(255,255,255,1);
}

.GuestSearchField{
    display: flex;
    position: flex;
    align-items: center;
    bottom: 2px;
    border: 1px solid rgba(0,0,0,0.3);
    margin: 2px 10% 2px 10%;
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
    background: white;
}

.GuestSearchField input{
    border: none;
    width: 100%;
}

#searchIcon{
    color: rgba(46, 184, 46, 1);
    cursor: pointer;
}