.register-results{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.register-results-question {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px 0px;
    border-radius: 0px;
    font-weight: 500;
    font-size: 16px;
    margin: 5px 0px;
    height: auto;
    transition: height 0.5s;
}

.register-results-question-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #46494c;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    background: rgb(221, 221, 221, 0.5);
    border: 1px solid rgb(221, 221, 221, 0.7);
    border-radius: 5px;
}