.register-results{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.register-results-question {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0px 0px;
    border-radius: 0px;
    font-weight: 500;
    font-size: 16px;
    margin: 5px 0px;
    height: auto;
    transition: height 0.5s;
}

.register-results-question-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
    padding: 10px;
    background: #f1f1f3;
    border: 1px solid #dadbdd;
    color: #62646a;
    border-radius: 5px;
}

.register-results-question-button input{
    border: none;
    border: 1px solid #19a45e;
    border-radius: 5px;
    padding: 10px 8px;
    width: 100%;
    font-size: 15px;
}

.remove-question-button {
    margin: 0px 5px 0px 10px;
    color: #c74C3C;
    font-size: 18px;
}

.register-results-add-question-row {
    display: flex;
    flex: 1;
    justify-content: center;
    margin: 10px 0px;
}

.register-results-add-question {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border: 2px solid #dadbdd;
    color: #dadbdd;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
}

.register-results-add-question:hover {
    border: 2px solid #bdbec2;
    color: #bdbec2;
}

.register-results-question-button:hover {
    background: rgb(221, 221, 221, 0.4);
}