.vote-options {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.vote-options-header {
    font-size: 22px;
    color: #46494c;
    padding-bottom: 20px;
    font-weight: 600;
}

.vote-options-label {
    display: flex;
    padding: 10px;
    color: #1985a1;
}


.vote-options-container {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 10px 0px;
    height: 100%;
}

.vote-options-option-list {
    padding: 12px;
}

.vote-options-option {
    display: flex;
    padding: 5px 12px;
}

.vote-delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 15px;
    height: 15px;
    color: #c74C3C;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
}

.vote-options-option input{
    border-radius: 5px;
    border: none;
    height: 25px;
    font-size: 14px;
    padding: 3px 10px 3px 10px;
    background: white;
    border: 1px solid #dddddd;
    color:rgba(0,0,0);
}