.UserPanel{
    position: fixed;
    display: flex;
    color:white;
    background: rgb(192, 192, 192, 0);
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
    top: 10px;
    right: 5px;
    z-index: 3;
}

.UserIcon{
    padding: 5px;
}

.UserName:hover{
    border-bottom: 1px solid white;
    cursor: pointer;
}