.guest-modal {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 60vh;
}

.guest-modal-top-bar {
    display: flex;
    justify-content: flex-end;
    min-height: min-content;
}

.guest-modal-back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    width: 80px;
    height: 20px;
    border-radius: 5px;
    color: #c74C3C;
    cursor: pointer;
    outline: none;
    transition: background 0.2s;
}

.guest-modal-search {
    display: flex;
    margin: 5px 18px;
    min-height: min-content;
}

.guest-modal-search input {
    flex: 1;
    padding: 3px 5px;
    border-radius: 0px;
    height: 25px;
    font-size: 14px;
    padding: 3px 10px 3px 10px;
    background: white;
    border: none;
    border-bottom: 1px solid #dadbdd;
    color:rgba(0,0,0);
    font-family: sans-serif;
}

@media only screen and (max-width: 450px) {
    .guest-modal {
        width: 95vw;
        height: 90vh;
        margin: 20px 0px;
    }
    .guest-modal-top-bar {
        margin: 0px 10px;
    }
}