.options-panel-info-block{
    display: flex;
    align-items: center;
    margin: 0px 0px 7px 0px;
    padding-bottom: 1px;
    color: #46494c;
  }
  
  .options-panel-info-input-row {
    display: flex;
    background: rgb(76, 92, 104, 0.07);
    border: 1px solid #dddddd;
    color:#46494c;
    border-radius: 5px;
  }
  
  .options-panel-info-block input{
    height: 18px;
    width: 180px;
    padding: 3px 12px 3px 10px;
    border: none;
    background: transparent;
  }
  
  .options-panel-info-panel {
    padding: 10px;
  }
  
  .options-panel-add-field-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: #4c5c68; 
    cursor: pointer;
    border: 1px solid #46494c;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    margin: 10px 0px 10px 0px;
  }
  
  .options-panel-info-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 25px;
    margin: 0px 10px 0px 10px;
    color: #46494c;
    cursor: pointer;
  }
  
  .options-panel-icon-menu{
    display: flex;
    flex-wrap: wrap;
    margin-top: -145px;
    margin-right: -132px;
    margin-bottom: 30px;
    padding: 5px;
    width: 120px;
    background: rgba(0,0,0,0.9);
    border: 1px solid white;
    border-radius: 10px;
  }
  .options-panel-icon-menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
  
  .options-panel-icon-menu-item:hover{
    background: rgba(255,255,255,0.1);
  }
  
  .options-panel-info-delete{
    padding: 0px 5px 0px 17px;
    color: #c5c3c6;
    cursor: pointer;
  }
  
  .options-panel-info-delete:hover {
    color: #b4b2b4;
  }
  
  .options-panel-add-field-button p{
    padding: 0px 5px 0px 5px;
    margin: 0px;
    font-size: 14px;
  }