.create-event{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 580px;
    width: 100%;
    background: #f7f7f8;
}

@media only screen and (max-width: 610px) {
  .create-event {
    padding: 0px;
    height: auto;
    margin-top: 45px;
  }
}