.Component {
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 6px -1px rgb(69, 69, 69, 0.4);
    -moz-box-shadow: 0px 0px 6px -1px rgba(69,69,69,0.4);
    box-shadow: 0px 0px 6px -1px rgba(69,69,69,0.4);
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    width:45vw;
    height:45vw;
    max-width: 500px;
    max-height: 500px;
    position: relative;
    z-index: 2;
}

.OptionsRow{
    background: transparent;
    position: relative;
    z-index: 2;
}

.Options{
    padding-top: 5px;
    padding-right: 5px;
    float: right;
    width: 30px;
    font-size: 25px;
    color: rgba(0,0,0, 0.3);
}

.OptionsButton{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.OptionsButton:active{
    color: rgba(0,0,0, 0.5);
}

.OptionsDropDown{
    display: block;
    padding: 2px;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    background: white;
    right: 8px;
    -webkit-box-shadow: 0px 0px 6px -1px rgb(69, 69, 69, 0.4);
    -moz-box-shadow: 0px 0px 6px -1px rgba(69,69,69,0.4);
    box-shadow: 0px 0px 6px -1px rgba(69,69,69,0.4);
}

.MenuItem{
    color: black;
    padding: 5px 20px 5px 5px;
    text-align: left;
    font-size: 15px;
    cursor: pointer;
}

.MenuItem:hover{
    background: rgba(0,0,0,0.06)
}