.signBackground{
    position: fixed; /* Stay in place */
    display:flex;
    justify-content: center;
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.sign{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 20%;
    background: #595F65;
    -webkit-box-shadow: 0px 0px 16px -1px rgb(69, 69, 69, 0.4);
    -moz-box-shadow: 0px 0px 16px -1px rgba(69,69,69,0.4);
    box-shadow: 0px 0px 16px -1px rgba(69,69,69,0.4);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    width: 400px;
    height: 400px;
}

.signDetails{
    overflow-y: auto;
}

.TopRow{
    width: 100%;
    position: absolute;
    top: 0px;
}

.ExitIcon{
    float: right;
    padding: 10px;
    color: #B2BFCB;
    cursor: pointer;
}

.ExitIcon:hover{
    color: white;
}

.SkipRow{
    width: 100%;
    position: absolute;
    bottom: 6px;
}

.Tabs{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0px 10px 0px;
}

.Tab{
    color:white;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
}

#ActiveTab{
    color: #2eb82e;
    border-bottom: 1px solid #2eb82e;
}

.signButtonRow{
    width: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.signInput{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #B2BFCB;
    font-size: 16px;
    padding: 20px 40px 15px 40px;
}

.signInput input{
    border: none;
    padding-top: 15px;
    padding-left: 5px;
    border-bottom: 1px solid #7A838C;
    background: transparent;
    color:white;
    font-size: 16px;
}

.signButton{
    padding: 8px;
    border: 1px solid white;
    color: white;
    /*width: 50px;*/
    margin: 10px;
    cursor: pointer;
}

.signButton:hover{
    background: rgba(255,255,255,0.1);
}