.event-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    width: 100%;
    align-items: flex-start;
    padding: 20px 0px 20px 0px;
}

.event-container-header {
    display: flex;
    padding-left: 40px;
    color: rgba(69,69,69,0.9);
}

.event-container-header p{
    margin: 0px;
    padding: 0px 10px 0px 10px;
    font-size: 20px;
    color: #46494c;
}

.event-container-row {
    display: flex;
    align-items: center;
    height: 220px;
    width: 100%;
    max-width: 900px;
    margin-top: 0px;
    margin-bottom: 10px;
    overflow-x: auto;
}

.event-container-new-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(26, 26, 26, 0.2);
    font-size: 50px;
    font-weight: 500;
    color: rgba(26, 26, 26, 0.2);
    min-height: 150px;
    min-width: 150px;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}

.event-container-new-button:hover{
    border: 5px solid rgba(26, 26, 26, 0.3);
    color: rgba(26, 26, 26, 0.3);
}

@media only screen and (max-width: 620px) {
    .event-container-new-button {
        min-height: 110px;
        min-width: 110px;
    }
}