
.settings-container {
    display: flex;
    width: 900px;
    background: transparent;
    margin-bottom: 10px;
    border-radius: 5px;
}

.settings-content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: transparent;
    padding: 20px;
}

.settings-content-container h2 {
    color:#0e0e0f;
}

@media only screen and (max-width: 900px) {
    .settings-container {
        width: 95vw;
    }
}