
.settings-container {
    display: flex;
    width: 900px;
    background: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid rgba(69,69,69,0.2);
}

.settings-content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    background: transparent;
    padding: 20px;
}

.settings-content-container h2 {
    color:#4c5c68;
}

@media only screen and (max-width: 900px) {
    .settings-container {
        width: 95vw;
    }
}