.guests-content {
    display: flex;
    flex-direction: column;
    width: 810px;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.guests-columns {
    display: flex;
    flex: 1;
}

.guests-columns-left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.guests-columns-right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.guest-title {
    font-size: 20px;
    color: #46494c;
    margin: 20px 20px 10px 20px;
    font-weight: 600;
}

.guest-title span{
    font-weight: 500;
    font-size: 16px;
}

@media only screen and (max-width: 900px) {
    .guests-content {
        width: 95vw;
    }

    .guests-columns {
        flex-direction: column;
    }
}