.guests-content {
    display: flex;
    flex-direction: column;
    width: 810px;
    background: transparent;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.guests-columns {
    display: flex;
    flex: 1;
}

.guests-columns-left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.guests-columns-right {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.guest-title {
    display: flex;
    font-size: 18px;
    color: #0e0e0f;
    margin: 20px 20px 10px 20px;
    font-weight: 600;
}

.quest-title-edit-questions {
    padding: 0px 5px;
    color: rgba(76, 92, 104, 0.5);
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
}

.quest-title-edit-questions:hover {
    color: rgba(76, 92, 104, 0.9);
}

.guest-green-icon {
    color: #19a45e;
}

.guest-title span{
    font-weight: 500;
    font-size: 16px;
}

@media only screen and (max-width: 900px) {
    .guests-content {
        width: 95vw;
    }

    .guests-columns {
        flex-direction: column;
    }
}