.ComponentAdder{
    text-align: center;
    justify-content: center;
    display: flex;
}

.ComponentAdder button {
    height: 150px;
    width: 150px;
    background: transparent;
    border: 5px solid rgb(26, 26, 26, 8%);
    border-radius: 30px;
    font-size: 50px;
    font-weight: 500;
    color: rgb(26, 26, 26, 8%);
    transition: color 0s;
    transition: border 0s;
    margin: 20px 5% 20px 5%;
    cursor: pointer;
}

.ComponentAdder button:hover{
    border: 5px solid rgb(26, 26, 26, 15%);
    color: rgb(26, 26, 26, 15%);
}

.ComponentAdder button:active{
    border: 5px solid rgb(26, 26, 26, 20%);
    color: rgb(26, 26, 26, 20%);
}

.component-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.component-container-grid{
    padding: 20px 0px 20px 0px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2%;
    justify-content:center;
}

.component-container-discussion {
    padding: 20px 17px 20px 17px;
    max-width: 400px;
}

@media only screen and (max-width: 1260px) {
    .component-container-discussion {
        padding: 20px 10px 20px 10px;
        width: 400px;
    }

    .component-container-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:10px 8px 10px 8px;
    }
}

@media only screen and (max-width: 840px) {
    .component-container-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px 0px 0px 0px;
        max-width: 100vw;
    }

    .component-container-discussion {
        padding: 10px 3px 0px 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}