.discussion-container{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 5px;
}

.discussion-header{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.discussion-header-title h3 {
    font-weight: 500;
    color: #46494c;
}

.discussion-input-row {
    display: flex;
    align-items: center;
}

.discussion-input-row input {
    width: 100%;
    padding-left: 10px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #c5c3c6;
    background: white;
}

.discussion-send-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    background : #4c5c68;
    border: 1px solid #4c5c68;
    color: white;
    border-radius: 5px;
    height: 33px;
    margin-left: 5px;
    cursor: pointer;
}

.discussion-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding-top: 3px;
}