.discussion-container{
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.discussion-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 10px;
    padding-top: 3px;
}