.discussion-container{
    display: flex;
    flex-direction: column;
    margin: 15px 30px 15px 30px;
}

.discussion-messages {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 10px;
    padding-top: 3px;
}

@media only screen and (max-width: 400px) {
    .discussion-container {
        margin: 10px;
    }
}