.inputBlock{
    display: flex;
    flex-direction: column;
    padding: 12px 12px 12px 12px;
    padding-bottom: 1px;
    color: #62646a;
  }
  
  .dateBlock{
    display: flex;
  }
  
  .dateBlock .inputBlock{
    padding-right: 0px;
  }
  
  .inputLabel{
    display: flex;
    padding: 0px;
    height: 30px;
    margin-left: 8px;
    font-size: 15px;
    color: #19a45e;
  }
  
  .inputBlock input[type=date]::-webkit-clear-button {
    display: none;
  }

  .inputBlock input[type=time]::-webkit-clear-button {
    display: none;
  }
  
  .inputBlock input{
      border-radius: 5px;
      border: none;
      height: 25px;
      font-size: 14px;
      padding: 3px 10px 3px 10px;
      background: white;
      border: 1px solid #dddddd;
      color:rgba(0,0,0);
      font-family: sans-serif;
  }