.profile-header-container {
    display: flex;
    justify-content: center;
}

.profile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    border-radius: 5px;
    margin-top: 60px;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #dadbdd;
}

.profile-header-cover{
    display: flex;
    z-index: 2;
    width: 100%;
    align-items: flex-end;
    background: rgb(0,0,0, 0.5);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    min-height: 350px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

@media only screen and (max-width: 1024px) {
    .profile-header {
        border-radius: 0px;
        margin-top: 45px;
        border: none;
    }

    .profile-header-cover {
        border-radius: 0px;
    }
}