.profile-header {
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.profile-header-block{
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    align-items: center;
    background: rgb(0,0,0, 0.5);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    min-height: 380px;
    max-height: 380px;
    width: 100%;
    max-width: 1024px;
    margin-top: 60px;
    border-bottom: 1px solid #dadbdd;
}

@media only screen and (max-width: 1024px) {
    .profile-header-block {
        border-radius: 0px;
        margin-top: 45px;
    }
}