.event-content {
    position: absolute;
    top: 395px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f0f3f4;
}

.event-content-status-row {
    display: flex;
    width: 100%;
    max-width: 810px;
}