.vote-component-options{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.vote-component-option-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.vote-component-option-row {
    display: flex;
    align-items: center;
    color: #4c5c68;
}

.vote-component-option {
    padding: 5px 10px 5px 10px;
    color: rgba(70, 73, 76, 0.7);
}

.vote-component-vote-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    color: #4c5c68;
    border-radius: 50%;
    border: 1px solid darkgrey;
    outline-offset: inherit;
    min-width: 22px;
    min-height: 22px;
    cursor: pointer;
}

.vote-component-radio-marker{
    width: 16px;
    height: 16px;
    background: #4c5c68;
    border-radius: 50%;
}

.vote-component-button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vote-component-submit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4c5c68;
    color: white;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 3px;
}

.vote-component-results-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 1px solid #4c5c68;
    color: #4c5c68;
    width: 100px;
    height: 33px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 3px;
}

.vote-component-delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 15px;
    height: 15px;
    color: #c74C3C;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
}

.vote-component-add-button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4f784e;
    width: 80px;
    height: 30px;
    margin: 10px 0px 0px 10px;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.vote-component-submit-button:hover {
    background: rgba(76, 92, 104, 0.9);
}

.vote-component-delete-button:hover {
    color: rgba(199, 76, 60, 0.3);
}

.vote-component-vote-button:hover {
    -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 2px 0px rgba(0,0,0,0.5);
}