.search-container{
    height: 500px;
    background-image: url('../../../../assets/BerryBG.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
}