.create-event-form{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: transparent;
    border-radius: 5px;
    min-height: 360px;
}

@media only screen and (max-width: 450px) {
    .create-event-form {
        border: none;
        justify-content: center;
    }
}

