.event-information {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.event-information-row {
    display: flex;
}

.event-information-row-right {
    flex: 1;
    margin-left: 5px;
}

.event-information-row-left {
    flex: 1;
    margin-right: 5px;
}

.event-information-button-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-information-status {
    margin: 10px 10px 0px 10px;
    font-weight: 500;
    font-size: 19px;
    color: #95979d;
}

@media only screen and (max-width: 650px) {
    .event-information-row {
        display: flex;
        flex-direction: column;
    }
    .event-information-row-right {
        margin-left: 0px;
    }

    .event-information-row-left {
        margin-right: 0px;
    }
}