.event-information-header {
    padding: 10px 0px;
    font-size: 22px;
    color: #46494c;
    padding-bottom: 20px;
    font-weight: 600;
}

.event-information-row {
    display: flex;
}

.event-information-row-right {
    flex: 1;
    margin-left: 5px;
}

.event-information-row-left {
    flex: 1;
    margin-right: 5px;
}


.event-information-button-row{
    display: flex;
    justify-content: center;
    padding: 20px 0px 0px 0px;
}

.event-information-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 80px;
    height: 20px;
    border: 1px solid #4c5c68;
    border-radius: 5px;
    background: #4c5c68;
    color: white;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
    outline: none;
    transition: background 0.2s;
}

.event-information-button-label {
    font-size: 14px;
    font-weight: 600;
}

.event-information-button:hover {
    background: #404e59;
}

@media only screen and (max-width: 450px) {
    .event-information-row {
        flex-direction: column;
    }

    .event-information-row-right {
        margin-left: 0px;
    }
    
    .event-information-row-left {
        margin-right: 0px;
    }
    
}