.Header-container {
    height: 300px;
    padding-top: 20px;
    text-align: center;
    background: black;
    color: gray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    position: relative;
}

.Header-container h1{
    padding-top: 50px;
}