.answer-modal {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 60vh;
}

.answer-modal-top-bar {
    display: flex;
    justify-content: flex-end;
}

.answer-modal-back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 80px;
    height: 20px;
    border-radius: 5px;
    color: #c74C3C;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
    outline: none;
    transition: background 0.2s;
}

.answer-modal-question {
    font-size: 18px;
    color: #46494c;
    font-weight: 600;
    padding: 10px 12px;
}

.answer-modal-search {
    display: flex;
    margin: 5px 10px;
}

.answer-modal-search input {
    flex: 1;
    padding: 3px 5px;
    border-radius: 5px;
    height: 25px;
    font-size: 14px;
    padding: 3px 10px 3px 10px;
    background: white;
    border: 1px solid #dddddd;
    color:rgba(0,0,0);
    font-family: sans-serif;
}

@media only screen and (max-width: 450px) {
    .answer-modal {
        width: 95vw;
        height: 90vh;
        margin: 20px 0px;
    }
    .answer-modal-top-bar {
        margin: 0px 10px;
    }
}