.search-block {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
    margin: 10px;
}

.search-block-input {
    display: flex;
    align-items: center;
    height: 25px;
    border-radius: 5px;
    border: 1px solid white;
    background: rgba(0,0,0,0.7);
    color: white;
    font-size: 18px;
    padding: 3px 5px;
}

.search-block-input input {
    flex: 1;
    height: 25px;
    border-radius: 5px;
    border: none;
    background: transparent;
    color: white;
    font-size: 18px;
}

.search-block-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    cursor: pointer;
}

.search-block-title {
    font-size: 25px;
    color: white;
}