.general-options-title {
    display: flex;
    font-size: 22px;
    color: #4c5c68;
}

.general-options-input{
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #19a45e;
    font-size: 16px;
    padding: 20px 0px 15px 0px;
}

.general-options-input-label {
    padding: 0px 20px 10px 10px;
}

.general-options-input-input {
    display: flex;
    border-radius: 5px;
    height: 30px;
    font-size: 15px;
    background: transparent;
    border: 1px solid #dadbdd;
    color:#46494c;
    transition: border 0.2s;
}

.general-options-input-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #95979d;
    color: white;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    padding: 0px 8px;
    width: 50px;
    font-size: 14px;
    cursor: pointer;
}

.general-options-input-button:hover{
    background: #7a7d85;
}

.general-options-input input{
    flex: 1;
    background: transparent;
    border: none;
    font-size: 14px;
    margin: 3px 10px;
}

.general-options-input textarea{
    flex: 1;
    background: transparent;
    border: none;
    font-size: 15px;
    margin: 3px 10px;
    resize: none;
    font-family: 'raleway', sans-serif;
}

.general-options-input-input:focus-within{
    border: 1px solid #19a45e;
}

.general-options-button-row{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}

.general-options-save-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    height: 12px;
    width: 60px;
    border-radius: 5px;
    background: #62646a;
    color: white;
    transition: background 0.2s;
    margin-bottom: 10px;
    cursor: pointer;
}

.general-options-save-button:hover{
    background: #494b50;
}