.comment {
    display: flex;
    flex: 1;
    margin: 5px 0px 2px 0px;
    background: transparent;
}

.comment-avatar-section {
    display: flex;
    margin: 0px 5px 0px 0px;
}

.comment-avatar {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background: darkgray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
}

.comment-wrapper {
    display: flex;
    flex: 1;
}

.comment-deleted {
    color: rgba(0,0,0,0.3);
    padding-left: 60px;
    height: 30px;
    align-items: center;
}

.comment-info-section {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    padding: 3px;
    height: 20px;
    align-items: center;
}

.comment-time-author {
    display: flex;
    flex-wrap: nowrap;
    font-size: 16px;
}

.comment-time {
    display: flex;
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    color: darkgray;
    justify-content: center;
}

.comment-author {
    display: flex;
    font-weight: 500;
    color: #19a45e;
    cursor: pointer;
    word-break:white-space;
}

.comment-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgba(0,0,0,0.2)
}

.comment-delete:hover {
    color: rgba(0,0,0,0.5)
}

.comment-content {
    display: flex;
    justify-content: flex-start;
    text-align: start;
    color: #62646a;
    padding: 5px 10px;
}

@media only screen and (max-width: 450px) {
    .comment-time {
        display: none;
    }

    .comment-avatar {
        min-width: 30px;
        height: 30px;
    }
}