.user {
    display: flex;
    color: #FBFFFE;
    align-items: center;
    justify-content: center;
}

.user-icon {
    padding: 0px 3px 0px 0px;
}

a {
    text-decoration: none;
    color: #FBFFFE;
}

.user-username{
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(255,255,255,0.5);
    padding: 5px 10px 5px 5px;
}

.user-username:hover {
    cursor: pointer;
}

.user-signed-in {
    display: flex;
    align-items: center;
}

.user-sign-button{
    padding: 5px;
    color: #FBFFFE;
    margin: 5px;
    cursor: pointer;
}

.user-sign-button:hover{
    background: rgba(255,255,255,0.1);
}