.UserPanel {
    display: flex;
    color:white;
    align-items: center;
    justify-content: center;
}

.UserIcon {
    padding: 5px;
}

.UserName:hover {
    border-bottom: 1px solid white;
    cursor: pointer;
}

.SignedIn {
    display: flex;
    align-items: center;
}