.UserPanel{
    display: flex;
    color:white;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 200px;
}

.UserIcon{
    padding: 5px;
}

.UserName:hover{
    border-bottom: 1px solid white;
    cursor: pointer;
}