.create-event-form{
    display:flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    margin-top: -130px;
    width: 810px;
    border: 1px solid rgba(69,69,69,0.2);
    margin-bottom: 20px;
}

.create-event-row {
    display: flex;
}

.create-event-button-row{
    display: flex;
    justify-content: center;
    padding: 20px 0px 10px 0px;
}

.create-event-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 80px;
    height: 20px;
    border: 1px solid #4c5c68;
    border-radius: 5px;
    background: #4c5c68;
    color: white;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
    outline: none;
    transition: background 0.2s;
}

.create-event-button:hover {
    background: #404e59;
}


@media only screen and (max-width: 850px) {
    .create-event-form {
        width: 95vw;
    }
}

@media only screen and (max-width: 650px) {
    .create-event-row {
        flex-direction: column;
    }
}

