.create-event-form{
    display:flex;
    flex-direction: column;
    background: white;
    border-radius: 5px;
    margin-top: -430px;
    margin-bottom: 20px;
    width: 610px;
    box-sizing: border-box;
    padding: 35px;
    border: 1px solid rgba(69,69,69,0.2);
}

.create-event-header {
    padding: 10px 0px;
    font-size: 28px;
    color: #46494c;
    padding-bottom: 20px;
    font-weight: 600;
}

.create-event-row {
    display: flex;
}

.create-event-row-right {
    flex: 1;
    margin-left: 5px;
}

.create-event-row-left {
    flex: 1;
    margin-right: 5px;
}


.create-event-button-row{
    display: flex;
    justify-content: center;
    padding: 20px 0px 0px 0px;
}

.create-event-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 80px;
    height: 20px;
    border: 1px solid #4c5c68;
    border-radius: 5px;
    background: #4c5c68;
    color: white;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
    outline: none;
    transition: background 0.2s;
}

.create-event-button:hover {
    background: #404e59;
}

@media only screen and (max-width: 610px) {
    .create-event-form {
        width: 95vw;
    }

    .create-event-row {
        flex-direction: column;
    }

    .create-event-row-right {
        margin-left: 0px;
    }
    
    .create-event-row-left {
        margin-right: 0px;
    }
    
}

