.privacy-policy {
    display: flex;
    flex-direction: column;
}

.privacy-policy-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    min-height: 100vh;
    background-image: url('../../assets/BerryBG.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
}