.privacy-policy {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.privacy-policy-container {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 30px;
}