.content-container{
    display: flex;
    justify-content: center;
    background: white;
    margin-top: -45px;
}

.content-container-info-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1024px;
    min-height: 400px;
}

.content-container-info-block{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    width: 260px;
    height: 200px;
    color: #62646a;
    border-radius: 5px;
}

.content-container-title-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:#62646a;
    font-size: 25px;
}

.content-container-info-block h1 {
    font-size: 18px;
    margin-bottom: 10px;
    padding: 0px 10px 0px 10px;
    font-weight: 500;
    color:#19a45e; 
}

.content-container-info-block p  {
    font-size: 16px;
    text-align: center;
    margin: 0px; 
    color: #62646a;
}

@media only screen and (max-width: 963px) {
    .content-container-info-row{
        margin: 10px 0px 10px 0px;
    }
    .content-container{
        margin-top: 0px;
    }
}

@media only screen and (max-width: 650px) {
    .content-container-info-block {
        margin: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 450px) {
    .content-container-info-row{
        margin: 0px 0px 10px 0px;
    }
}

