.GuestContainer{
    padding: 12px;
    margin-bottom: 0px;
}

.StatusButtons{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background: #373B3F;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.StatusButton{
    color: rgba(255,255,255,0.5);
    padding: 10px 5px 10px 5px;
}

#active{
    color: rgba(46, 184, 46, 1);
    border-bottom: 1px solid rgba(46, 184, 46, 1);
}

.StatusButton:hover{
    color: rgba(255,255,255,1);
    cursor: pointer;
}

.GuestContent{
    background: #7A838C;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 10px;
}

.GuestList{
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 10px;
    height: 200px;
    color: white;
    font-size: 15px;
    overflow: auto;
}

.Guest{
    display: flex;
    padding: 12px 10px 12px 10px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.GuestName{
    padding-left: 10px;
    width: 80%;
    text-align: left;
}

.GuestDelete{
    cursor: pointer;
    color: rgba(255,255,255,0.5);
}

.GuestDelete:hover{
    color: rgba(255,255,255,1);
}

.GuestOptionsSearchField{
    display: flex;
    border: 1px solid #373B3F;
    margin: 0% 5% 0% 5%;
    padding: 3px 15px 3px 15px;
    border-radius: 30px;
}

.GuestOptionsSearchField input{
    border: none;
    width: 100%;
    background: transparent;
    color: white;
}

#OptionsSearchIcon{
    color: rgba(46, 184, 46, 1);
    cursor: pointer;
}