.master-component {
    display: flex;
    flex-direction: column;
    background: white;
    width: 400px;
    height: 400px;
    position: relative;
    z-index: 2;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid rgba(69,69,69,0.08);
}

@media only screen and (max-width: 840px) {
    .master-component {
        margin: 2px 0px 2px 0px;
    }
}

@media only screen and (max-width: 400px) {
    .master-component {
        width: 95vw;
        min-height: 400px;
    }
}

.master-options-row{
    display: flex;
    justify-content: flex-end;
    background: transparent;
    height: 0px;
    position: relative;
    top: 0px;
}

.master-options-edit-button{
    display: flex;
    background: rgba(255,255,255, 1 );
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    font-size: 20px;
    margin: 5px;
    z-index: 2;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 3px -1px rgb(69, 69, 69, 0.7);
    -moz-box-shadow: 0px 0px 3px -1px rgba(69,69,69,0.7);
    box-shadow: 0px 0px 3px -1px rgba(69,69,69,0.7);
}

.editMasterActive {
    -webkit-box-shadow: 0px 0px 6px -1px rgb(69, 69, 69, 0.5);
    -moz-box-shadow: 0px 0px 6px -1px rgba(69,69,69,0.5);
    box-shadow: 0px 0px 6px -1px rgba(69,69,69,0.5);
}