.master-component {
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 6px -1px rgb(69, 69, 69, 0.5);
    -moz-box-shadow: 0px 0px 6px -1px rgba(69,69,69,0.5);
    box-shadow: 0px 0px 6px -1px rgba(69,69,69,0.5);
    background: white;
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    width: 400px;
    height: 400px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

@media only screen and (max-width: 840px) {
    .master-component {
        margin: 2% 0px 2% 0px;
    }
}

@media only screen and (max-width: 400px) {
    .master-component {
        width: 95vw;
        height: 95vw;
    }
}

.master-options-row{
    display: flex;
    justify-content: flex-end;
    background: transparent;
    height: 0px;
    position: relative;
    top: 0px;
}

.master-options-edit-button{
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    font-size: 18px;
    margin: 5px;
    z-index: 2;
    color: darkgray;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 6px -1px rgb(69, 69, 69, 0.3);
    -moz-box-shadow: 0px 0px 6px -1px rgba(69,69,69,0.3);
    box-shadow: 0px 0px 6px -1px rgba(69,69,69,0.3);
}

.editButtonActive {
    color: rgb(25, 133, 161);
    border: 1px solid rgb(25, 133, 161);
}

.editMasterActive {
}

.Options{
    padding-top: 5px;
    padding-right: 5px;
    float: right;
    width: 30px;
    font-size: 25px;
    color: rgba(0,0,0, 0.3);
    background: transparent;
}

.OptionsButton{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.OptionsButton:active{
    color: rgba(0,0,0, 0.5);
}

.OptionsDropDown{
    display: block;
    padding: 2px;
    position: absolute;
    z-index: 2;
    border-radius: 5px;
    background: white;
    right: 8px;
    -webkit-box-shadow: 0px 0px 6px -1px rgb(69, 69, 69, 0.4);
    -moz-box-shadow: 0px 0px 6px -1px rgba(69,69,69,0.4);
    box-shadow: 0px 0px 6px -1px rgba(69,69,69,0.4);
}

.MenuItem{
    color: black;
    padding: 5px 20px 5px 5px;
    text-align: left;
    font-size: 15px;
    cursor: pointer;
}

.MenuItem:hover{
    background: rgba(0,0,0,0.06)
}