.join-event-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    padding: 10px;
    background: white;
    border: 1px solid #1985a1;
    color: #1985a1;
    cursor: pointer;
    border-radius: 5px;
    color: green;
    border-color: green;
}