.join-event-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    padding: 8px;
    background: white;
    cursor: pointer;
    border-radius: 5px;
    color: #19a45e;
    border: 1px solid #19a45e;
}