.event-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 20px 0px 20px 0px;
    background: transparent;
    margin-bottom: 10px;
}

.event-container-column {
    display: flex;
    flex-direction: column;
}

.events-title {
    font-size: 18px;
    color: #0e0e0f;
    margin: 20px 30px 10px 30px;
    font-weight: 600;
}

.about-profile-content {
    margin: 0px 30px 15px 30px;
    white-space: pre-wrap;
}

.no-events {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
    color: #62646a;
}

.no-events-icon {
    font-size: 23px;
    color: #19a45e;
}

.no-events-text {
    margin: 0px 5px;
}

.event-container-new-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #62646a;
    color: white;
    font-size: 16px;
    width: 120px;
    height: 40px;
    margin: 10px 30px 10px 30px;
    transition: background 0.2s;
    cursor: pointer;
}

.event-container-new-button:hover{
    background: #494b50;
}

@media only screen and (max-width: 900px) {
    .event-container {
        width: 95vw;
    }
}

@media only screen and (max-width: 620px) {
    .event-container-new-button {
        margin: 10px 15px 10px 15px;
    }

    .about-profile-content {
        margin: 0px 15px 15px 15px;
    }

    .events-title {
        margin: 10px 15px 10px 15px;
    }
}