.event-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    border-radius: 5px;
    height: 500px;
    margin-top: 45px;
}

.event-header-cover {
    flex: 1;
    background: rgba(0,0,0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}