.header-container {
    height: 320px;
    padding-top: 20px;
    text-align: center;
    background: black;
    color: gray;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    position: relative;
}

.header-container h1{
    padding-top: 50px;
}

.InfoPanel{
    width: 100%;
    background: rgba(0,17,26,0.7);
    position: absolute;
    min-height: 40px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.InfoField{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 2% 0px 2%;
    color: rgba(255,255,255, 0.8);
    font-size: 15px;
}

.InfoField p{
    padding: 5px 0px 5px 5px;
    margin: 0px;
}