.event-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    padding-top: 45px;
    text-align: center;
    background: rgba(0,0,0);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    position: relative;
}

.event-header h1{
    padding-top: 90px;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
}
.event-header h3{
    margin-top: 0px;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
}

.event-header-content{
    height: 100%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-header-status-row{
    width: 100%;
    max-width: 900px;
}

.info-panel{
    width: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    min-height: 40px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.info-panel-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 900px;
}

.info-panel-content-field{
    display: flex;
    z-index: 1;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px 20px;
    color: rgba(255,255,255, 0.9);
    font-size: 15px;
}

.info-panel-content-field p{
    padding: 5px 0px 5px 5px;
    margin: 0px;
}