.GuestComponent{
    position: relative;
    padding: 0px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: hidden;
}

.ComponentStatusButtons{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    background: white;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.ComponentStatusButton{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,0.4);
    font-size: 17px;
    width: 70px;
    margin-bottom: -1px;
    padding: 8px 10px 8px 10px;
    border: 1px solid transparent;
}

#TabActive{
    color: black;
    border: 1px solid rgba(46, 184, 46, 1);
    border-bottom: 1px solid white;
    background: rgba(255,255,255);
}

.ComponentStatusButton:hover{
    color: rgba(0,0,0,1);
    cursor: pointer;
}

.ComponentGuestList{
    display: flex;
    flex-direction: column;
    background: transparent;
    padding: 10px;
    color: rgba(0,0,0);
    font-size: 15px;
    overflow: auto;
}

.ComponentGuest{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 22px 12px 22px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.ComponentGuestIcon {
    background: darkgray;
    min-width: 30px;
    height: 30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position:center center;
    border-radius: 50%;
}

.ComponentGuest a{
    color: black;
    display: flex;
    align-items: center;
}

.ComponentGuestName{
    padding-left: 10px;
    width: 80%;
    text-align: left;
}

.GuestDelete{
    cursor: pointer;
    color: rgba(0,0,0,0.2);
}

.GuestDelete:hover{
    color: rgba(0,0,0,0.5);
}

.GuestSearchField{
    display: flex;
    position: flex;
    align-items: center;
    bottom: 2px;
    border: 1px solid rgba(0,0,0,0.3);
    margin: 2px 10% 2px 10%;
    padding: 5px 15px 5px 15px;
    border-radius: 30px;
    background: white;
}

.GuestSearchField input{
    border: none;
    width: 100%;
}

#searchIcon{
    color: rgba(46, 184, 46, 1);
    cursor: pointer;
}