.tabs-row {
    display: flex;
    width: 100%;
    background: white;
    justify-content: center;
    align-content: center;
    border-bottom: 1px solid rgba(69,69,69,0.2);
}

.tabs-container {
    display: flex;
    justify-content: flex-start;
    max-width: 790px;
    width: 100%;
    background: white;
}

.tabs-tab {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px 0px 10px 0px;
    width: 120px;
    cursor: pointer;
    color: gray;
    border-bottom: 1px solid transparent;
    background: transparent;
    transition: color 0.2s;
    user-select: none;
}

.tabs-tab:hover {
    color: rgba(76, 92, 104, 1);
}

.active-tab {
    color: rgba(76, 92, 104, 1);
    border-bottom: 2px solid rgba(76, 92, 104, 1);
    font-weight: 600;
}