.tabs-row {
    display: flex;
    width: 100%;
    background: white;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
}

.tabs-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background: white;
    border-radius: 5px;
}

.tabs-tab {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
    cursor: pointer;
    color: #95979d;
    font-weight: 600;
    font-size: 12px;
    border-bottom: 2px solid transparent;
    background: transparent;
    transition: color 0.2s;
    user-select: none;
}

.tabs-icon-users {
    font-size: 20px;
    margin: 0px 5px;
}

.tabs-icon-comment {
    font-size: 20px;
    margin: 0px 5px;
}

.tabs-tab:hover {
    color: rgba(76, 92, 104, 1);
}

.active-tab {
    color: #62646a;
    border-bottom: 2px solid #19a45e;
}