.tabs-row {
    display: flex;
    justify-content: center;
    align-content: center;
}

.tabs-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 800px;
    width: 100%;
}

.tabs-tab {
    padding: 10px 10px 0px 10px;
    cursor: pointer;
    border-bottom: 1px solid transparent;
}

#active-tab {
    color: #1985a1;
    border-bottom: 1px solid #1985a1;
}