.create-input{
    display: flex;
    flex-direction: column;
    padding: 12px 12px 12px 12px;
    color: #46494c;
}
  
.create-input-label{
    display: flex;
    padding: 10px;
    color: #1985a1;
}

.create-input input{
    border-radius: 5px;
    border: none;
    height: 25px;
    font-size: 14px;
    padding: 3px 10px 3px 10px;
    background: white;
    border: 1px solid #dddddd;
    color:rgba(0,0,0);
    transition: border 0.2s;
}


.create-input input:focus{
    border: 1px solid #1985a1;
}

.create-input input::placeholder{
    color: #c5c3c6
}

input[type=date]::-webkit-clear-button {
    display: none;
}

input[type=date]::-webkit-inner-spin-button { 
    display: none;
}

input[type=date]::-webkit-calendar-picker-indicator:hover {
    background: transparent;
}