.signup-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 10px 10px;
    font-size: 25px;
    color: #0e0e0f;
    font-weight: 600;
}

.signup-exit-icon{
    padding: 10px;
    color: #c5c3c6;
    cursor: pointer;
    font-size: 20px;
}

.signup-exit-icon:hover{
    color: rgba(0,0,0,0.5);
}

.signup-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 5px;
    background: #62646a;
    color: white;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
    transition: background 0.2s;
}

.signup-button:hover{
    background: #494b50;
}

.signin-info-text span {
    color: #6ce9d7;
    cursor: pointer;
}